include LICENSE
include README.md
include requirements.txt
include galaxy_ml/model_persist/pk_whitelist.json
include galaxy_ml/externals/selene_sdk/sequences/_sequence.pyx
include galaxy_ml/externals/selene_sdk/targets/_genomic_features.pyx
recursive-include galaxy_ml/externals/selene_sdk/sequences/data *.bed*