pyfaidx
pytabix
cython>=0.29.11
scipy>=1.2.1
numpy>=1.16.2
pandas>=0.24.2
joblib>=0.13.2
asteval>=0.9.13
scikit-learn==0.20.3
xgboost==0.80
mlxtend==0.16.0
skrebate==0.6
imbalanced-learn==0.4.3
tensorflow==1.13.1
Keras==2.2.4