version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8
    steps:
      - checkout
      - run:
          name: Build Dependencies
          command: |
            sudo python3 -m pip install -r requirements.txt
            sudo pip install flake8 nose pytest coverage | cat; test ${PIPESTATUS[0]} -eq 0
            sudo python setup.py build_ext --inplace
            mkdir test-reports | cat
      - run:
          name: Flake8
          command: |
            git diff ..master | flake8 ./galaxy_ml --count --statistics --exit-zero
            coverage report && coverage xml -o test-reports/coverage.xml
      - run:
          name: Run API Tests
          command: |
            cd ./galaxy_ml
            nosetests ./tests -sv
      - store_test_results:
          path: test-reports

