version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8
    steps:
      - checkout
      - run:
          name: Build Dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            python setup.py build_ext --inplace
            pip install nose, pytest
      - run:
          name: Run API Tests
          command: |
            . venv/bin/activate
            cd ./galaxy_ml
            nosetests ./tests -sv
